* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  grid-template-columns: 250px 1fr;
}
header {
  background-color: #fff;
  grid-column: 2/-1;
}
aside {
  background-color: #1992d4;
  color: #fff;
  grid-row: 1 / span 2;
}
main {
  background-color: #e2e8f0;
  grid-column: 2/-1;
}
